h1 {
	text-align: center;	
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){ 
	background-color: #f2f2f2; 
}

tr:hover { 
	background-color: #eea; 
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4C4FAF;
  color: white;
}


/* ============== 네비게이션바 (https://mibolee.tistory.com/19) ============== */

li a{
	width: 100%;
	color: #1976d2;
	background-color: #FFF;
	text-align: center;
	padding: 14.5px 16px;
	text-decoration: none;
}
li a:hover{
	color: #FFF;
	background-color: #1976d2;
	font-weight:normal;
} 
/* ======================================================================== */

.topDiv {
	padding-bottom:50px;
}

form label, form div {
	margin: 10px;
}

.addFormTable tr td select {
	width: 200px;
	height: 26px;
}

.addFormTable tr td input {
	width: 192px;
	height: 20px;
}

#submit {
	min-width: 100%;
	height: 30px;
	border: 1px solid skyblue;
	background-color: rgba(0,0,0,0);
	color: skyblue;
}

#submit:hover {
	color: white;
	background-color: skyblue;
}

.modDiv label, .modDiv div {
	margin: 10px;
}
